a:hover {
	text-decoration: none;
}

.btn-primary {
	background-color: #84E277;
	border: #84E277;
	color: #000;
	box-shadow: 1px 1px 1px #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #67BB5B;
	border-color: #67BB5B;
}

.logo {
	margin-left: 10px;
}
.row {
	/*border: solid black 1px;*/
}

.page-nav {
	/*background-color: rgba(0,0,0,0.5);*/
}

.navbar {
	/*background-image: url('../img/greengradient.jpg');*/
	background-color: #84E277;
	/*#78DE6A;*/
	/*#58DB76;*/
	/*#5AD48B*/
	/*#50D837*/
	box-shadow: 1px 1px 1px #000;
}

.navbar-inner {
	box-shadow: none;
	border: none;
	margin: 0;
	padding: 0;
}

.navbar-brand {
	color: #000;
	padding: 3px;
}

.checkbox {
}

.vertical-center {
	line-height: 50px;
	text-align: center;
}

.padding-home {
	height: 13vh;
	margin: 0;
	padding: 0;
}

.menu {
	box-shadow: 1px 1px #000;
}

.menu .glyphicon {
	font-size: 17px;
}

.page-nav-home {
	position: absolute;
	max-width: 800px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
}

.page-nav-home-item {
	width: 200px;
	height: 200px;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px #000;
	/*background-image: url('../img/greengradientlarge.jpg');*/
	background-repeat: repeat-x;
}

.page-nav-home-item:hover {
	background-image: none;
}

.page-nav-home-item .glyphicon {
	font-size: 100px;
	color: #000;
}

.page-nav-home-item-text {
	margin-top: 12px;
	font-size: 17px;	
}

.page-nav-item {
	box-shadow: 1px 1px #000;
}

.page-nav-item .glyphicon {
	font-size: 25px;
	color: #000;
}

.select-recipients {
	padding: 8px;
	margin-top: 10px;
	border: solid #ccc 1px;
	border-radius: 5px;
}

.message-sent {
	margin-top: 10px;
}

#message-sent-success {
}

.vertical-line {
	float: left;
	height: 150px;
	border-left: 1px solid #ccc;
}

#send-message {
	margin-top: 5px;
	text-align: center;
}

#see-message-history {
	margin-top: 13px;
}

.activity-card {
	margin-top: 13px;
}

.message-card-meta {
	color: #8f8f8f;
	font-size: 11px;
	line-height: 20px;
}

.activity-card .row {
	border: solid 1px #ccc;
	margin: 1px;
}

.message-card .row {

}

.message-card .message-text {
	padding: 10px;
	min-height: 50px;
}

.text-right {

}

.calendar {
	
}

.calendar-day {
	height: 160px;
	width: 13%;
	border: solid 1px #ccc;
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
	background-color: #f0f0f0;
}

.calendar-day:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}

.day-number {
	color: #aaa;
	margin: 2px;
}

.calendar-month {
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	margin-left: -50px;
}

.calendar-nav-arrow {
	font-size: 12px;
	margin: 5px;
	cursor: pointer;
}

.current-month {
	background-color: #fff;

}

.current-month .day-number {
	color: #5c5c5c;
}

.heading-row {
	margin-bottom: 20px;

}

.calendar-add-event {
	margin-left: 50px;
	height: 100%;
}

.calendar-add-event-button {
	width: 300px;

}

.calendar-event {
	color: #008fff;
	overflow: hidden;
	font-size: 11px;
	white-space: nowrap;
	margin-left: 2px;
}

.groups-all {
	color: #008fff;
}

.groups-actives {
	color: #2B9B00;
}

.groups-exec {
	color: #DD9F00;
}

.modal-title {
	text-align: center;
}

.modal-actions {
	margin-top: 3px;
}

.files-below {
	padding: 5px;
}

.doc {
	color: #3678D6;
}

.pdf {
	color: #FF1C1C;
}

.xls {
	color: #27B814;

}

.file-text {
	color: black;
}

.panel-body {
	padding: 5px;
}

.panel-group {
	margin-bottom: 0px;
}

.panel-heading {
	padding: 5px 5px;
}